.media {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 15px;
    padding: 10px;
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}


.media:hover {
    transform: scale(1.05);
    background-color: #2f2f2f; 
    color: #e50914;
    .poster:hover{
        border:2px solid  #000000;
    }
    
}

@media (max-width: 550px){
    .media{
        width: 46%;
    }
}

.poster {
    width: 100%;
    border-radius: 10px;
  
}

.title {
    width: 100%;
    font-size: 1.2em;
    margin: 5px 0;
    text-transform: capitalize;
}


.subTitle {
    display: block;
    font-size: 0.9em;
    color: #aaaaaa;
    margin-left: 0%;
}